.scroller-container {
  display: flex;
  gap: 4px;
  animation: scroll 30s linear infinite; /* Increase duration for smoother scroll */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -33.33%
    ); /* Adjust based on how much you want to scroll */
  }
}
