/* src/components/Header/header.module.css */
@media (max-width: 1024px) {
  #collapseMenu {
    background-color: white;
    width: 50%;
    min-width: 300px;
    top: 0;
    left: 0;
    padding: 1.5rem;
    height: 100vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 50;
  }
  .overlay {
    display: none;
  }

  .overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 40;
  }
}

.header-top-bar {
  background-color: var(--prussian-blue);
}
